# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Propias
.vscode/
*.swp
*.swo
a.out
.DS_Store
*.a
*.o
__pycache__
*cpython-39.pyc
.zcompdump*
cub3D

# Propias CPP
*.replace
ClapTrap
ScavTrap
FragTrap
DiamondTrap
Animals_*
config/
FFVII*/
FFVII*
Bureaucracy*
*_shubbery
.vscode
**/.idea
webserv
webserv_sanitized
\
/www/html/uploads/**
srcs/.env
srcs/requirements/mariadb/db_data/
srcs/requirements/wordpress/wp_data/
.env
